*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  /*消除ios下可点击元素点击时出现的背景色*/
}

/* 重设 HTML5 标签, IE 需要在 js 中 createElement(TAG) */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/* 去掉各Table  cell 的边距并让其边重合 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* IE bug fixed: th 不继承 text-align*/

th {
  text-align: inherit;
  font-weight: bold;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  outline: 0 none;
}

input,
textarea {
  -webkit-appearance: none;
  /*清除ios下输入框的阴影*/
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* 去除默认边框 */

fieldset,
img {
  border: 0;
}

/* HTML5 媒体文件跟 img 保持一致 */

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* ie6 7 8(q) bug 显示为行内表现 */

iframe {
  display: block;
}

/* 统一上标和下标 */

sub,
sup {
  position: relative;
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* 清理浮动 */

.clearfix {
  display: block;
  content: "";
  clear: both;
  zoom: 1;
}

.user-select-none {
  -webkit-user-select: none; //禁止用户选中内容
}

.input-style-none {
  -webkit-appearance: none; //消除输入框和按钮的原生外观
}

.touch-callout-none {
  -webkit-touch-callout: none; //禁止长按弹出菜单
}

.flex {
  @include flex();
}

.flex-1 {
  flex: 1 1 auto;
}

.flex-0 {
  flex: 0 0 auto;
}

.flex-10 {
  flex: 1 0 auto;
}

.flex-01 {
  flex: 0 1 auto;
}

.text-overflow {
  @include text-overflow();
}

html {
  height: 100%;
}

body {
  font-family: "Microsoft YaHei";
  font-size: $font-default;
  height: 100%;
  position: relative;
  background: $color-empty;
}

.page {
  margin: 0 auto;
  height: 100%;
}

.page-center-wrap {
  @include flex(column, center, center);
}

.page-tb-wrap {
  @include flex(column, flex-start, stretch);
}

.page-lr-wrap {
  @include flex($jus: flex-start, $ali: stretch);
}

//输入控件
select.base-select {
  border: 1px solid $color-input-border;
  border-radius: 4px;
  padding: 0 0.3em;
  padding-right: 0;
}

input.base-input {
  border: 1px solid $color-input-border;
  padding: 0 5px;
  font-size: 14px;
}

button,
.base-btn {
  @include btn;
}

.base-dialog {
  .dialog-mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
  }
  .dialog-main {
    position: fixed;
    z-index: 1001;
    background: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: left top;
    min-width: 350px;
    min-height: 195px;
    box-shadow: 0 2px 10px 0.5px rgba(0, 0, 0, 0.1);
    @include flex(column, space-between, stretch);
    .dialog-header {
      @include flex;
      height: 30px;
      padding-left: $margin-default;
      background: $color-active-light;
      color: $color-white;
      .dialog-title {
        flex: 1 1 auto;
      }
      .dialog-close {
        flex: 0 0 auto;
        width: 30px;
        height: 100%;
        cursor: pointer;
        @include flex($jus: center);
        &:before {
          content: "";
          background: url(../../assets/images/icons.png) 0 -20px no-repeat;
          width: 10px;
          height: 10px;
        }
      }
    }
    .dialog-body {
      padding: 20px;
      text-align: center;
      font-size: $font-h6;
    }
    .dialog-footer {
      @include flex($jus: center);
      .dialog-btn {
        @include btn-size(75px, 22px);
        margin: 0 5px 20px;
      }
      .dialog-multi-btn {
        @include btn-size(60px, 22px);
        margin: 0 5px 20px;
      }
    }
  } //继承部分
  &.base-alert-dialog {
    .dialog-main {
      .dialog-body {
        .dialog-icon {
          margin: 0 auto 14px;
          width: 57px;
          height: 57px;
          &.dialog-icon-success {
            background: url(../images/icons.png) 0 -60px no-repeat;
          }
          &.dialog-icon-error {
            background: url(../images/icons.png) -57px -60px no-repeat;
          }
          &.dialog-icon-info {
            display: none;
          }
        }
        .dialog-msg {}
      }
    }
  } // 动画部分
  &.base-loading {
    .base-loading-icon {
      display: inline-block;
      width: 64px;
      height: 64px;
      background: url(../images/icon-loading.gif) center no-repeat;
    }
    .base-loading-footer {
      width: 100%;
      line-height: 30px;
      text-align: center;
      background: $color-bg-light-3;
    }
  }
  .fade-enter,
  .fade-leave-to {
    opacity: 0;
  }
  .fade-enter-active,
  .fade-leave-active {
    transition: opacity 0.3s ease;
  }
  .fade-enter-to,
  .fade-leave {
    opacity: 1;
  }
  .scale-enter,
  .scale-leave-to {
    transform: scale(0.3) translate(-50%, -50%);
    opacity: 0;
  }
  .scale-enter-active,
  .scale-leave-active {
    transition: all 0.3s ease;
  }
  .scale-enter-to,
  .scale-leave {
    transform: scale(1) translate(-50%, -50%);
    opacity: 1;
  }
}

.base-tips {
  .tips-mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
  }
  .tips-main {
    position: fixed;
    z-index: 1001;
    background: $color-tips-bg;
    color: $color-white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: left top;
    min-width: 195px;
    min-height: 50px;
    padding: 15px 20px;
    box-shadow: 0 2px 10px 0.5px rgba(0, 0, 0, 0.1);
    @include flex($jus: center);
    font-size: 14px;
  } // 动画部分
  .fade-enter,
  .fade-leave-to {
    opacity: 0;
  }
  .fade-enter-active,
  .fade-leave-active {
    transition: opacity 0.3s ease;
  }
  .fade-enter-to,
  .fade-leave {
    opacity: 1;
  }
  .scale-enter,
  .scale-leave-to {
    transform: scale(0.3) translate(-50%, -50%);
    opacity: 0;
  }
  .scale-enter-active,
  .scale-leave-active {
    transition: all 0.3s ease;
  }
  .scale-enter-to,
  .scale-leave {
    transform: scale(1) translate(-50%, -50%);
    opacity: 1;
  }
}

.base-table-box {
  position: relative;
  @include flex(column, flex-start, stretch);
  max-height: 100%;
  .base-header-table-box {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .base-body-table-box {
    position: relative;
    @include auto-scroll;
    .base-table {
      th {
        visibility: hidden;
      }
    }
  }
  .base-footer-table-box {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    .base-footer-table {
      th {
        height: 30px;
        background: $color-bg-light-2;
        color: $color-default;
        text-align: left;
      }
    }
  }
}

.base-table {
  width: 100%;
  table-layout: fixed;
  border: $border-default;
  border-collapse: collapse;
  .base-center {
    text-align: center;
  }
  .base-right {
    text-align: right;
  }
  th,
  td {
    border: $border-default;
    padding: 4px 18px;
    word-break: break-all;
  }
  th {
    background: $color-active-dark;
    color: $color-white;
    height: 35px;
    text-align: center;
    width: 1%;
  }
  td {
    height: 30px;
  }
  .base-table-btn {
    display: inline-block;
    color: $color-active;
    cursor: pointer;
    margin: 0 $margin-default;
    &:hover,
    &:active {
      text-decoration: underline;
    }
  }
  tr:nth-child(2n) {
    td {
      background: #fff;
    }
  }
  tr:nth-child(2n + 1) {
    td {
      background: #f5f5f5;
    }
  }
}

.base-pager {
  @include flex($jus: center);
  .pager-list {
    @include flex($jus: center);
    .pager {
      margin: 0 5px;
      height: 24px;
      min-width: 24px;
      padding: 0 5px;
      @include flex($jus: center);
      cursor: pointer;
      &.prev:before {
        content: '';
        width: 8px;
        height: 12px;
        background: url(../images/icons.png) 0 -178px no-repeat;
      }
      &.next:before {
        content: '';
        width: 8px;
        height: 12px;
        background: url(../images/icons.png) -8px -178px no-repeat;
      }
      &:not(.active):hover {
        opacity: 0.5;
      }
      &.active {
        border: 1px solid $color-input-border;
      }
    }
  }
  .quick-jump-box {
    margin-left: 10px;
    @include flex($jus: center);
    .pager-input {
      margin: 0 10px;
      width: 50px;
      height: 24px;
      font-size: 12px;
    }
    .pager-go-btn {
      margin-left: 15px;
      @include btn-size(30px, 22px);
    }
  }
}

.base-tab {
  >.tab-list {
    @include flex($jus: flex-start, $ali: stretch);
    height: 45px;
    padding-bottom: 3px;
    .tab {
      flex: 0 0 auto;
      margin-right: 3px;
      padding: 0 24px;
      background: $color-white;
      color: $color-default;
      font-size: $font-h6;
      @include flex($jus: center);
      position: relative;
      cursor: pointer;
      &.active {
        color: $color-active-light;
        font-weight: bold;
        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 2px;
          background: $color-active-light;
        }
        &:after {
          content: '';
          position: absolute;
          top: 100%;
          left: 0;
          width: 100%;
          height: 3px;
          background: $color-white;
        }
      }
    }
    &:after {
      content: '';
      flex: 1 1 auto;
      background: $color-white;
    }
  }
  >.content-list {
    .content {
      padding: 12px;
      background: $color-white;
    }
  }
}

.base-main-title {
  height: 38px;
  padding: $margin-default $margin-default 0;
  font-size: 14px;
  line-height: 1em;
  font-weight: bold;
}

.base-main-panel {
  margin-bottom: 12px;
  padding: 0 12px 28px;
  background: $color-white;
  .base-pager {
    margin-top: 34px;
  }
}
